* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.App {
  display: flex;
}


.main-container {
  width: 100%;
  margin-left: auto;

  position: relative;
}

/* Header */

.App-header {
  
  position: fixed;

  height: 100px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.App-header .opt{

  margin: 0 40px;

  height: 30px;
  min-width: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;
}

.App-header .opt .line {

  height: 2px;
  width: 100%;
  background: white;

}

.App-header .section-name {
  color: white;
}

.App-body{
  margin: 10px;
  margin-top: 110px;
}

#Options-Menu {

  position: fixed;

  /* transition: all .5s; */

  margin-top: 100px;

  height: 100vh;
  width: 100vw;
  
  border-right: 1px solid orange;
 
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */


  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

  z-index: 100;

}

#Options-Menu.Hidden {
  /* transform: translate(-100%); */
  /* transition: all .5s; */
  display: none;
}

#Options-Menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;

  align-items: center;

  
}

#Options-Menu ul li {
  padding: 20px;

  width: 100%;
  
  border-bottom: 2px solid orange;

  text-align: center;

  color: rgb(255, 234, 196);
  font-weight: bold;

  
}

#Options-Menu .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 50px 0;

  border-bottom: 1px solid orange;
}


#Options-Menu .profile img {
  height: 70px;
  width: 70px;

  border-radius: 50%;

  margin-bottom: 20px;
}

#Options-Menu .profile h1 {
  text-align: center;
  color: rgb(255, 234, 196);
  

  font-size: 16px;
}

#Options-Menu ul li a{
  text-decoration: none;
  color: rgb(255, 234, 196);
}

.App-header .logo {
  color: white;
  cursor: pointer;
  margin: 0 30px;

  font-size: 14px;
}